<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StreamingClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <StreamingClient.Properties.Settings>
            <setting name="LiveIP" serializeAs="String">
                <value />
            </setting>
            <setting name="LiveDeliveryMethod" serializeAs="String">
                <value />
            </setting>
            <setting name="LiveTransport" serializeAs="String">
                <value />
            </setting>
            <setting name="LiveAlias" serializeAs="String">
                <value />
            </setting>
            <setting name="LiveAutoReconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LiveAutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LivePlayFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
        </StreamingClient.Properties.Settings>
    </userSettings>
</configuration>